.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio_item {
    background: rgb(201, 201, 201);
    padding: 1rem;
    width: 20rem;
    display: grid;
    justify-content: center;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--Transition);
}
.portfolio_item:hover {
    border-color: var(--color-primary);
    background: transparent;
}
.portfolio_item-image{
    width: 17rem;
    height: 13rem;
    border-radius: 2rem;
    overflow: hidden;
}
.portfolio_item-cta {
    display: flex;
    gap: 0.5rem;
    padding: 2rem 0 ;
}

@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}